<script id="red" type="text/html">
	<div class="mashifesto red">
		<div id="stmt-0" class="stmt">
			{{part1}}
		</div>
		<div id="block-0" class="block"></div>
		<div class="col-1">
			<div id="stmt-1" class="stmt">
				I spent 45 minutes on the phone to HMRC
			</div>
		</div>
		<div class="col-2">
			<div id="block-1" class="block"></div>
			<div id="block-2" class="block"></div>
			<div id="block-3" class="block"></div>
			<div id="stmt-2" class="stmt">
				and I want
			</div>
			<div id="stmt-3" class="stmt">
				a panda in a microwave."
			</div>
			<div id="handle">
				@JoeScarboro
			</div>
		</div>
	</div>
</script>

<div class="wrapper">
	
</div>