@import "fonts";
@import "grid";

body {
	background: url(/assets/background-1.jpg) no-repeat center center fixed;
	-webkit-font-smoothing: antialiased;
	background-size: cover;
}

@mixin transform ($value) {
	-webkit-transform: $value;
	-moz-transform: $value;
	-o-transform: $value;
	transform: $value;	
}

@mixin transform-origin ($value) {
	-webkit-transform-origin: $value;
	-moz-transform-origin: $value;
	-o-transform-origin: $value;
	transform-origin: $value;	
}

$columnWidth: 50px;
$gutterWidth: 30px;
$baseHeight: 35px;
$pad: $gutterWidth;

@function calc-column($num) {
	@return $columnWidth * $num + $gutterWidth * ($num - 1);
}

@mixin columns($num) {
	width: calc-column($num);
}

@mixin push($num) {
	margin-left: $columnWidth * $num + $gutterWidth * $num;
}

@mixin columns-height($num) {
	height: calc-column($num);
}

@mixin columns-left($num) {
	left: calc-column($num);
}

.wrapper {
	$scale: 0.7;
	@include transform-origin(50% 0%);
	@include transform(scale($scale));

	position: absolute;
	top: 50%;
	margin-top: - (calc-column(12) / 2) * $scale;
	left: 0;
	width: 100%;
}

.mashifesto {
	&.red {
		$black: #000;
		$red: #d2232a;
		$baseAngle: 35deg;
		$fontSize: 2 * $baseHeight;
		$lineHeight: 0.8em;

		font-size: $fontSize;
		line-height: $lineHeight;
		margin-left: auto;
   		margin-right: auto;
		
		@include columns(12);
		@include columns-height(12);
		
		@include transform-origin(50% 50%);
		@include transform(rotate(-$baseAngle));

		.stmt {
			text-transform: uppercase;
		}

		.col-1 {
			@include columns(6);
			float: left;
		}

		.col-2 {
			@include columns(6);
			float: right;
		}

		.stars {
			background: url(/assets/star-line-up.png);
			background-size: cover;
			@include columns(3);
			height: 50px;
		}

		.red-block {
			background-color: $red;
			opacity: 0.8;
		}

		.generated-text {
			font-family: 'molotregular';
			color: $red;
			font-size: 1.5 * $fontSize;
			line-height: $lineHeight;
			opacity: 0.8;
		}

		#stmt-0 {
			position: relative;
			@include columns(6);
			line-height: $lineHeight;
			font-family: 'propagandaregular';
			color: $black;
			margin-bottom: $pad / 2;
		}

		#block-0 {
			@extend .red-block;
			height: $fontSize;
			@include columns(9);
			margin-bottom: $pad / 2;
		}

		#stmt-1 {
			@include transform(rotate(90deg));
			@include transform-origin(top left);
			@extend .generated-text;
			position: relative;
			@include columns-height(6);
			@include columns-left(6);
			width: 6em;
		}

		#block-1 {
			@extend .stars;
			margin-bottom: $pad * 3;
		}

		#block-2 {
			@extend .stars;
			@include push(3);
			margin-bottom: $pad / 2;
		}

		#block-3 {
			@extend .red-block;
			height: $fontSize / 2;
			@include columns(6);
			margin-bottom: $pad / 2;
		}

		#stmt-2 {
			font-family: 'propagandaregular';
			margin-bottom: $pad;
		}

		#stmt-3 {
			@extend .generated-text;
			margin-bottom: $pad;
		}

		#handle {
			@extend .generated-text;
			font-size: 0.75 * $fontSize;
		}

	}
}

